*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

:focus {
  outline: none
}

::-moz-selection {
  color: #fff;
  background: #e14242;
}

::selection {
  color: #fff;
  background: #e14242;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  background: url("../images/bg-body.jpg") no-repeat center top ;
}

.container {
  position: relative;
  width: 100%;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}

/* - Icon Set - */
.icon {
  display: inline-block;
  background: url("../images/sprite.png");
}

.icon-logo-header {
  width: 143px;
  height: 200px;
  background-position: 0 -88px;
}

.icon-call-center {
  width: 30px;
  height: 31px;
  background-position: 0 -57px;
}

.icon-forgot-password {
  width: 15px;
  height: 15px;
  background-position: -31px -57px;
}

.icon-home {
  width: 32px;
  height: 27px;
  background-position: -143px -136px;
}

.icon-paper {
  width: 28px;
  height: 27px;
  background-position: -175px -136px;
}

.icon-uniform {
  width: 32px;
  height: 27px;
  background-position: -203px -136px;
}

.icon-cup {
  width: 20px;
  height: 27px;
  background-position: -234px -136px;
}

.icon-book {
  width: 34px;
  height: 27px;
  background-position: -254px -136px;
}

.icon-field {
  width: 39px;
  height: 27px;
  background-position: -288px -136px;
}

.icon-whistle {
  width: 32px;
  height: 27px;
  background-position: -327px -136px;
}

.icon-phone {
  width: 26px;
  height: 27px;
  background-position: -359px -136px;
}

/* - Button Set - */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  background: url("../images/sprite.png");
}

.button-login {
  width: 42px; 
  height: 30px;
  background-position: -47px -57px;
}

.button-team-create {
  width: 105px;
  height: 30px;
  background-position: -89px -57px;
}

/* - Topbar - */
.topbar {
  height: 57px;
  background: url("../images/sprite.png") no-repeat center top;
}

.topbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.topbar__date {
  margin: 0;
  color: #c67506;
  font-size: 12px;
}

.topbar__call-center {
  display: flex;
  margin-right: 14px;
}

.topbar__call-center .icon {
  margin-right: 7px;
}

.topbar__call-center-title {
  margin: 0;
  color: #c67506;
  font-size: 11px;
}

.topbar__call-center-link {
  color: #c67506;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.topbar__login {
  display: flex;
}

.topbar__login-input {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #bf7b1d;
  font-weight: 700;
  font-size: 11px;
  border: 1px solid #c67506;
  border-radius: 3px;
}

.topbar__login-input::placeholder {
  color: inherit;
  line-height: 30px;
}

.topbar__login-group {
  position: relative;
  margin-left: 7px;
}

.topbar__login-forgot-password {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -7px;
}

.topbar__login-button-submit {
  margin-left: 7px;
  color: #fae9d2;
  font-size: 11px;
  font-weight: 900;
  text-shadow: 0 1px 0 #8f5506;
}

.topbar__login-button-create {
  margin-left: 7px;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  text-decoration: none;
  text-shadow: 0 1px 0 #014519;
}

/* - Header - */
.header__top {
  display: flex;
}

.header__logo-link {
  position: relative;
  top: -21px;
  margin-right: 25px;
}

.header__right {
  width: 100%;
}

.header__text {
  display: block;
  width: 754px;
  height: 48px;
  margin: 0 0 15px 0;
  font-size: 0;
  background: url("../images/sprite.png") no-repeat -144px -88px;
}

.header__slogan {
  display: block;
  margin: 0 0 10px 0;
  color: #333;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0 1px 0 #fff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 76px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, .6);
  background-color: rgba(255, 255, 255, .4);
}

.navigation__item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100% / 8);
  border-right: 1px solid #fff;
  border-left: 1px solid #c6c6c6;
  text-decoration: none;
}

.navigation__item:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .7);
}

.navigation__item:first-child {
  border-left-width: 0;
}

.navigation__item:first-child:hover {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navigation__item:last-child {
  border-right-width: 0;
}

.navigation__item:last-child:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.navigation__text {
  display: block;
  margin-top: 10px;
  color: #345195;
  font-size: 12px;
  font-weight: 900;
  text-shadow: 0 1px 0 #fff;
}

.header__announcements {
  display: flex;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .5);
}

.header__announcements-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 20px;
  font-size: 12px;
  color: #fff;
  text-shadow: 0 1px 0 #bea501;
  background: url("../images/sprite.png") no-repeat -194px -57px;
}

.header__announcements-wrapper {
  width: calc(100% - 100px);
  overflow: hidden;
}

.header__marquee-text {
  display: inline-block;
  margin: 0 0 0 10px;;
  color: #444;
  font-size: 12px;
}

/* - Home Slider - */
.home-slider .owl-dots {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home-slider .owl-dots .owl-dot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  border: 1px solid #245277;
  border-radius: 100%;
}

.home-slider .owl-dots .owl-dot span {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #245277;
  border-radius: 100%;
}

.home-slider .owl-dots .owl-dot.active {
  border-color: #e14242;
}

.home-slider .owl-dots .owl-dot.active span {
  background-color: #e14242;
}
