*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

:focus {
  outline: none
}

::-moz-selection {
  color: #fff;
  background: #e14242;
}

::selection {
  color: #fff;
  background: #e14242;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}